<div class="container">
    <div class="row justify-content-end">
        <div>
            <a href="#" class="btn btn-primary m-3">Add Product
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; index as i">
                    <td>{{ i + 1}}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a class="btn btn-secondary btn-sm mr-1" href="#">Edit</a>
                        <a class="btn btn-warning btn-sm" href="#">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
