<app-header></app-header>

     <!-- Hero Area Start -->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Confirmation</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="confirmation_part section_padding">
      <div class="container" >
        <div class="row">
          <div class="col-lg-12">
            <div class="confirmation_tittle">
              <span>Thank you. Your order has been received.</span>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="single_confirmation_details">
              <h4>order info</h4>
              <ul>
                <li>
                  <p>order number</p><span>: {{order._id}}</span>
                </li>
                <li>
                  <p>date</p><span>: {{order.created_at}}</span>
                </li>
                <li>
                  <p>total</p><span>: USD {{order.totalPrice}}</span>
                </li>
                <li>
                  <p>payment methord</p><span>: Cash on delivery</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="finish container">
        <a href="#" (click)="clearOrder($event)" class="btn btn-success">Finish</a>
    </div>
<app-footer></app-footer>
